version: "3"
services:
    static-homepage:
        image: nginx:alpine
        container_name: static-homepage
        user: nginx
        ports:
            - 8090:80
        networks:
            - nginx
        volumes:
            - ./src:/usr/share/nginx/html
networks:
    nginx:
        external: true
        name: nginx
